*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}

body,html{
	background: black;
	overflow-x: hidden;
}

.center{
	max-width: 1480px;
	margin: 0 auto;
	padding: 0 2%;
}

.clear{clear: both;}



/* Menu 1 - Header */
nav {
	padding: 12px;
	position: relative;
	z-index: 2;
	font-size: 14px;
}
.header-left{
	float: left;
}

.header-left img{
	max-width: 120px;
}

.menu-header{
	position: relative;
	display: inline-block;
	margin-left: 30px;
}
.menu-header ul li{
	list-style-type: none;
	display: inline-block;
	margin-right: 10px;
}
.menu-header a{
	color: white;
	text-decoration: none;
}
.menu-header a:hover{
	opacity: .6;
	transition: .5s;
}


/* header right */


.header-right{
	position: relative;
	float: right;
	top: 10px;
}
.header-right a{
	text-decoration: none;
	color: white;
}
.search,.notifications{
	display: inline-block;
}
.notifications{
	position: relative;
}
.circle-notifications{
	position: absolute;
	right: 0;
	top: -10px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background: #e50914;
	text-align: center;
	vertical-align: 20px;
}
.circle-notifications span{
	color: white;
	font-size:13px;
	font-weight: bold;
}
.header-right i{
	margin: 0 10px;
	cursor: pointer;
	color: white;
	font-size: 18px;
	font-weight: bold;
}

/* Destaques  */



section.destaque{
	background-image:url('../images/banner.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 600px;
	position: relative;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	top: -60px;
}

#video-destaque{
	min-height: 100%;
	min-width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}
.overlay{
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}

.texto-destaque{
	color: white;
	z-index: 3;
	position: relative;
	margin-top:150px;
	margin-left: 4%;
}
.texto-destaque h2{
	color: #b10f17;
	font-size: 90px;
	text-transform: uppercase;
}
.texto-destaque h3{
	margin: 20px 0;
	font-size: 30px;

}

.texto-destaque p{
	font-size: 25px;
}
.texto-destaque i{
	padding: 3px;
}
.texto-destaque a{
	color: white;
	text-decoration: none;
	padding: 8px 40px;
	font-size: 23px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom:10px;
}
.texto-destaque a.play{
	background-color: white;
	color: black;
	border-radius: 5px;
}
.texto-destaque a.playlist, .more-information{
	background-color: rgba(100, 100, 100, 0.8);
	border-radius: 5px;
}
.texto-destaque a.playlist:hover, .more-information:hover{
	opacity: 0.6;
	transition: 0.5s;
}
.texto-destaque a.play:hover{
	opacity: 0.7;
	transition: 0.5s;
}

.videos{
	display: flex;
	flex-direction: column;
}
section.vitrine div.titulo,.titulo-emAlta{
	color: #e5e5e5;
	display: inline-block;
	font-size: 1.4vw;
    font-weight: 500;
    margin: 0 4% 0.5em;
    min-width: 6em;
}
div.videos section.vitrine span.ver-tudo,.ver-tudo-emAlta{
	color: #54b9c5;
	cursor: pointer;
    font-size: .9vw;
    line-height: .8vw;
    margin-right: 4px;
    max-width: 0;
	display: inline-block;
    opacity: 0;
    transition: max-width 5s,opacity 1s,transform .75s;
	position: relative;
    white-space: nowrap;
	letter-spacing: 0;
}
div.videos section.vitrine{
	margin-top: 80px;
}
section.vitrine .vitrine-flex{
	width: 96%;
	margin: 0 auto;
	position: relative;
	z-index: 4;
}
.vitrine-single-banner{
	width: 100%;
	padding-top: calc(16.6% / 2);
	position: relative;
	float: left;
}
.vitrine-wraper{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.vitrine-wraper:hover{
	transition: 1s;
	transform: scale(1.08);
}

@media screen and (max-width: 768px){
	.menu-header{display: none;}
}